.board-list {
  margin: 0 auto;
  max-width: none;
  padding: 32px;
  position: relative;
  align-items: center;
  width: 100vw;


  .board-list-title {
    gap: 3px;
    .board-list-icon {
      color: $grey-blue;
      height: 32px;
      width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
    }

    h1 {
      font-weight: 600;
      font-size: rem(20px);
      line-height: 24px;
    }
  }

  .starred-container,
  .workspace-container {
    padding: 12px 0;
    // margin: 0 0 24px 0;
    // margin: 0 auto 24px auto;
    max-width: 1250px;
    justify-content: center;

    .board-cards-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 24px;
      justify-content: center;
    }
    .board-card {
      background-color: #97a0af;
      background-size: cover;
      background-position: center center;
      border-radius: 3px;
      color: #ffffff;
      display: block;
      position: relative;
      text-decoration: none;
      height: 96px;
      // flex: 1 0 22%;
      margin-right: 2%;
      // min-width: 200px;
      width: 292px;
      margin-bottom: 2%;

      .board-preview-container {
        display: flex;
        height: 80px;
        position: relative;
        flex-direction: column;
        width: 292px;
        padding: 8px;

        h1 {
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          position: relative;
          font-size: 16px;
          color: #ffffff;
          font-weight: bold;
          line-height: 20px;
          margin: 2px 0 0 0;
        }
      }

      .card-overlay {
        background-color: #0000004d;
        position: absolute;
        inset: 0;
      }
    }
  }

  .create-board-btn {
    background-color: #091e420a;
    border: none;
    box-shadow: none;
    color: $dark-blue !important;
    display: table-cell;
    font-weight: 600;
    height: 80px;
    text-align: center;
    transition-duration: 85ms;
    transition-property: background-color,border-color,box-shadow;
    transition-timing-function: ease;
    vertical-align: middle;
    width: inherit;

    &.create-board-btn:hover {
      background-color: #091e4245;
    }
  }
}



.scroll-y{
  overflow-y: auto;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-x: hidden;
   
  &::-webkit-scrollbar {
    width: 9px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #bfc4ce;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    margin-bottom: 2px;
    background-color: #dadbe2;
  }
}

// @media screen and (max-width: 700px) {


  
// }


@media screen and (max-width: 700px) {
  .board-list{

    .starred-container,
    .workspace-container {
    
    .board-card{
      width: 100%;
      margin-bottom: 3%;
      min-width: 250px;
    }
    
    }
  }

  
}