.home-page {
  width: 100vw;
  // font-family: Chalie, sans-serif;
  // overflow-y: scroll;

  background: linear-gradient(1deg, #ffffff 0%, #eae6ff 80%);
  color: #091e42;

  .home-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #eae6ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    transition: all 1s;

    &.bg-visible {
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    .logo-container {
      margin-left: 0.5rem;
      img {
        background-color: #091e42;
        padding: 5px;
        border-radius: 5px;
        /* padding: 10px; */
        width: 35px;
        height: 35px;
    

      }
      .logo {
        display: flex;
        align-items: center;
       
        letter-spacing: 1px;
        gap: 10px;
        font-size: rem(40px);
        font-weight: bold;
      }
    }

    .header-buttons {
      display: flex;
      gap: 10px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500 !important;
        font-size: rem(18px);
        gap: 5px;
        background-color: #dfe0db3c;
        height: 32px;
        padding: 2px 8px;
        color: white;
        border-radius: 3px;
        transition: all 0.3s;
        min-width: fit-content;
      }

      .login-btn {
        background-color: transparent;
        color: #0065ff;
      }

      .signup-btn {
        background-color: #0065ff;
        color: white;
      }
    }
  }

  .home-layout {
    max-width: 1080px;
    margin: 0 auto;
  }


  .logo {
    margin-left: 0.5rem;
    font-size: rem(24px);
    letter-spacing: 1px;
  }

  nav {
    cursor: pointer;

    :first-child {
      padding: 0.25rem 0.5rem;
      color: #0065ff;
      font-size: 1.09375rem;
    }
    :nth-child(2) {
      background-color: #0065ff;
      color: #fff;
      padding: 0.25rem 0.5rem;
      font-weight: 500;
      font-size: 1.09375rem;
      line-height: 1.5;
      border-radius: 0.2rem;
    }
  }

  .hero-container {
    height: 575px;
    padding-top: 98px;
    margin-bottom: 44px;
    img {
      width: 380px;
      height: 480px;
    }
    .hero-title {
      font-size: 3rem;
      line-height: 1.25;
      color: $hard-blue;
      text-align: left;
      font-weight: bold;
    }
    p {
      width: 55ch;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
      text-align: left;
      margin: 0;
    }

  }

  .demo-btn {
    font-size: 20px;
    padding: 15px;
  }

  .product {
    text-align: center;
    gap: 10px;
    margin-bottom: 40px;

    .product-title {
      font-size: 2.25rem;
      line-height: 1.33333333;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
      margin: 0 0 15px;
    }

    .login-link {
      align-self: center;
      color: #0065ff;
      background-color: transparent;
      background-image: none;
      border: 1px solid #0065ff;
      padding: 10px;
      font-size: 22px;
      width: 208px;
      line-height: 1.5;
      border-radius: 6px;
      transition: all 150ms;
      &:hover {
        background-color: #0065ff;
        color: #fff;
      }
    }
  }

  .board-img {
    margin-top: 15px;
    width: 100%;
    height: 100%;
  }
}
