.login-page {
  height: 100vh;
  background-color: $light-grey1;
  flex-grow: 1;

  .login-logo-header {
    margin: 20px auto;
      gap: 12px;
      margin: 88px auto;
    .jello {
      height: 47px;
      width: 47px;
      color: #fff;
      top: 2px;
      position: relative;
    }
    .login-logo {
      
        color: $dark-blue;
        font-size: rem(35px);
        font-weight: 700;
    }
  }

  .login-container {
    text-align: center;
    max-width: 400px;
    height: fit-content;
    margin: 20px auto;
    grid-gap: 15px;
    gap: 15px;
    background-color: #fff;
    border-radius: 3px;
    padding: 25px 40px;
    box-shadow: 0 0 10px #0000001a;

    h3 {
      color: $dark-blue;
    }
    
    label {
      color: $dark-blue;
      text-align: left;
    }

    hr{
      
        background-color: #091e4221;
          border: 0;
          height: 1px;
          margin: 25px 0 8px 0;
          padding: 0;
          width: 100%;
      
    }
  }

  .right-svg {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .left-svg {
    position: absolute;
    bottom: 0;
    left: 0;
  }


}


@media screen and (max-width:580px) {
    .login-page {
  
  
      .right-svg {
        display: none;
      }
  
      .left-svg {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        text-align: center;
  
        img {
          width: 100%;
        }
      }
    }
  }