.task-details-container {
  background-color: #f4f5f7;
  border-radius: 2px;
  min-height: 600px;
  width: 768px;
  margin: 48px 0 80px;

  height: fit-content;
  // overflow: hidden;
  position: absolute;
  float: left;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 10;

  .task-cover {
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    box-sizing: border-box;
    background-position: center center;
    height: 116px;
    min-height: 116px;
    padding: 0px;

    &.bg-cover{
      min-height: 160px;
      // background-color: #ccc;
      // &.cover-img{
      //   top: 113px;
      // }
    }

    .cover-btn-container {
      align-items: center;
      top: 68px;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      padding: 8px;
      position: absolute;
      width: 100%;

      &.bg-img{
        top: 112px;
      }

      button {
        background-color: #00000014;
        gap: 4px;

        &:hover {
          background-color: #00000029;
          color: $hard-blue;
        }

        &:active{
          background-color: #0000003d;
        }
      }

      .cover-icon {
        font-size: rem(12px);
        text-align: center;
        color: $grey-blue;
      }
    }
  }

  .task-header {
    padding: 20px 8px 0 16px;

    .task-title {
      background: #0000;
      border-radius: 3px;
      box-shadow: none;
      font-size: 20px;
      font-weight: 600;
      height: 32px;
      line-height: 24px;
      margin-right: 50px;
      // margin: -4px -8px;
      min-height: 24px;
      padding: 4px 8px;
      width: 100%;
      overflow-wrap: break-word;
      overflow: hidden;

      &:focus {
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
      }
    }
  }

  .group-name {
    color: $silver-blue;
    margin: 0 0 20px 26px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    -webkit-padding-start: 24px;
    padding-inline-start: 24px;

    & p span {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .task-main-container {
    height: 100%;
    width: 100%;

    .task-main {
      min-height: 24px;
      padding: 0 8px 8px 16px;
      position: relative;
      flex: 3 1;
      gap: 24px;
    }

    .task-description {
      textarea {
        background-color: $light-grey2;
        border: none;
        border-radius: 3px;
        box-shadow: none;
        display: block;
        min-height: 40px;
        padding: 8px 12px;

        &:focus {
          background-color: #fff;
          box-shadow: inset 0 0 0 2px #0079bf;
        }
      }
    }

    .task-activity {
      .activity-header {
        margin-bottom: 15px;

        h3 {
          font-size: 16px;
          font-weight: 600;
        }
      }
      .activity-comment {
        textarea {
          height: 35px;
          //  margin: -8px -12px;
          padding: 8px 12px;
          box-shadow: 0 1px 1px #0000002f;

          &:hover {
            box-shadow: 2px 2px 5px 1px #dfe1e6;
            cursor: pointer;
          }
        }
      }
    }
    .task-checklist {
    }
  }
}

// .card-details {
//   position: fixed;

//   top: 50%;
//   left: 50%;
//   height: 80vh;
//   width: 70vw;
//   transform: translate(-50%, -50%);
//   background-color: #f0f5ef;
//   z-index: 10;
//   border-radius: 8px;
// }
