.task-details-container {
  background-color: $light-grey2;
  border-radius: 2px;
  min-height: 600px;
  width: 768px;
  height: fit-content;
  overflow: hidden;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
  // display: none;

  .task-header {
    & .task-title {
      background: #0000;
      border-radius: 3px;
      box-shadow: none;
      font-size: 20px;
      font-weight: 600;
      height: 32px;
      /* line-height: 24px; */
      // margin: -4px -8px;
      min-height: 24px;
      padding: 4px 8px;
      width: 100%;

      &:focus {
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
      }
    }
  }
}

// .card-details {
//   position: fixed;

//   top: 50%;
//   left: 50%;
//   height: 80vh;
//   width: 70vw;
//   transform: translate(-50%, -50%);
//   background-color: #f0f5ef;
//   z-index: 10;
//   border-radius: 8px;
// }
