.dynamic-modal-container {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
  // display: none;
  overflow: hidden;
  position: absolute;
  // left: 728px;
  top: 234px; // FROM INLINE STYLE
  -webkit-transform: translateZ(0);
  width: 304px;
  z-index: 70;

  .modal-header {
    height: 40px;
    margin-bottom: 8px;
    position: relative;
    text-align: center;

    .modal-header-title {
      border-bottom: 1px solid #091e4221;
      box-sizing: border-box;
      color: $silver-blue;
      display: block;
      line-height: 40px;
      margin: 0 12px;
      overflow: hidden;
      padding: 0 32px;
      position: relative;
      text-overflow: ellipsis;
      white-space: nowrap;
      z-index: 1;
    }

    .modal-close-btn {
      color: $light-blue;
      padding: 10px 12px 10px 8px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;

      &:hover {
        color: $dark-blue;
      }
    }
  }
}

.modal-content {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 12px 12px;
}
