

.group-preview-container {
  background-color: $light-grey1;
  border-radius: 3px;
  margin: 0 4px;
  vertical-align: top;
  white-space: nowrap;
  width: 272px;
  max-height: 100%;

  &:first-child{
    margin-left:8px;

  }

  .group-header {
    padding: 8px 8px;

    .group-title {
      background: #0000;
      border-radius: 3px;
      box-shadow: none;
      font-weight: 600;
      margin: -4px 0;
      max-height: 256px;
      min-height: 20px;
      padding: 4px 8px;
      overflow: hidden;
      overflow-wrap: break-word;
      height: 28px;

      &:focus {
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
      }
    }
  }

  .group-content {
    flex: 1 1 auto;
    margin: 0 4px;
    min-height: 1px;
    // min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 4px;
    // z-index: 1;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #bfc4ce;
    }
    &::-webkit-scrollbar-track {
      border-radius: 5px;
      margin-bottom: 2px;
      background-color: #dadbe2;
    }
  }

  .group-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 38px;
    min-height: 38px;
    
    margin: 0 4px;
    
    .add-card-btn {
      border-radius: 3px;
      color: $light-blue;
      flex: 1 0 auto;
      margin: 2px 8px 8px 8px;
      padding: 4px 8px;
      
      &:hover {
        background-color: #091e4214;
        color: $dark-blue;
      }
      &:active {
        background-color: #091e4221;
        color: $dark-blue;
      }
      
      span {
        margin-left: 5px;
      }
    }
  }
}

