.hero-container {
  gap: 10px;

  .hero-text{

    gap: 30px;
    .hero-img-container {
    background-image:url('../../img/hero.png');
    height: 600px;
    width: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    }
    
    .hero-title {
        text-align: center;
  
        color: white;
      }

      .get-started-btn{
        background-color: #0065ff;
        padding: 0.375rem 1.5rem;
        color: #fff;
        border-radius: 6px;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        width: 270px;
        padding: 11px;
        font-size: 27px;
        text-align: center;
      }


  }


}
