.loader-container {
    margin: auto 0;
    position: absolute;
    top: 40%;
    left: 45%;
    background-color: #091e42;
    color: #fff ;
    padding: 24px;
    border-radius: 5px;

   


    img {
        width: 200px;
        height: 189px;
        left: 8px;
        position: relative;
  
    }
    .logo {
      display: flex;
      align-items: center;
     
      letter-spacing: 1px;
      margin-left: 0.5rem;
      font-size: 2.5rem;
      font-weight: bold;
    }
  }


  @-webkit-keyframes loader-logo-wobble {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  @keyframes loader-logo-wobble {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }

  .loader-logo-wobble {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;

  
  }
  .loader-logo-wobble,
  .loader-logo-wobble,
  .loader-logo-wobble {
    -webkit-animation-name: loader-logo-wobble;
    animation-name: loader-logo-wobble;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  





  /**
 * ==============================================
 * Dot Stretching
 * ==============================================
 */
.dot-stretching {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
    transform: scale(1.25, 1.25);
    animation: dotStretching 2s infinite ease-in;
    margin-left: 23px;
    margin-right: 23px;
    top: 14px;
  }
  
  .dot-stretching::before, .dot-stretching::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }
  
  .dot-stretching::before {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
    animation: dotStretchingBefore 2s infinite ease-in;
    
    
  }
  
  .dot-stretching::after {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
    animation: dotStretchingAfter 2s infinite ease-in;
  }
  
  @keyframes dotStretching {
    0% {
      transform: scale(1.25, 1.25);
    }
    50%,
    60% {
      transform: scale(0.8, 0.8);
    }
    100% {
      transform: scale(1.25, 1.25);
    }
  }
  
  @keyframes dotStretchingBefore {
    0% {
      transform: translate(0) scale(0.7, 0.7);
    }
    50%,
    60% {
      transform: translate(-20px) scale(1, 1);
    }
    100% {
      transform: translate(0) scale(0.7, 0.7);
    }
  }
  
  @keyframes dotStretchingAfter {
    0% {
      transform: translate(0) scale(0.7, 0.7);
    }
    50%,
    60% {
      transform: translate(20px) scale(1, 1);
    }
    100% {
      transform: translate(0) scale(0.7, 0.7);
    }
  }
  