.pencil-edit-screen {
  position: fixed;
  /* display: flex; */
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.357);
  top: 0;
  left: 0;
  // z-index: 10;
}

.quick-edit-container {
  z-index: 70;
  display: grid;
}

// .quick-card-editor-buttons {
//     left: 100%;
//     opacity: 0;
//     position: absolute;
//     top: 0;
//     transform: translateX(-20px);
//     transition: opacity 85ms ease-in,transform 85ms ease-in;
//     width: 240px;
//     z-index: 0;
// }

.quick-edit-btns {
  // background: #0009;
  //   border-radius: 3px;
  //   clear: both;
  // color: #e6e6e6;
  //   display: block;
  //   float: left;
  //   margin: 0 0 4px 8px;
  //   padding: 6px 12px 6px 8px;
  //   text-decoration: none;
  //   transition: transform 85ms ease-in;
  left: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateX(-20px);
  transition: opacity 85ms ease-in, transform 85ms ease-in;
  width: 240px;
  z-index: 0;

  button {
    opacity: 1;
    background: #0009;
    border-radius: 3px;
    clear: both;
    color: #e6e6e6;
    display: block;
    float: left;
    margin: 0 0 4px 8px;
    padding: 6px 12px 6px 8px;
    text-decoration: none;
    transition: transform 85ms ease-in;
  }
  &:hover {
    background: #000c;
    color: #fff;
    transform: translateX(5px);
  }
}
