.task-preview-container {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  // padding: 6px 8px 2px;
  // text-align: left;
  .edit-btn {
    display: none;
  }
  &:hover {
    background-color: $light-grey2;
    .edit-btn {
      border-radius: 3px;
      color: #42526e;
      background-color: #f4f5f7;
      opacity: 0.8;
      position: absolute;
      top: 2px;
      right: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;

      &:active {
        background-color: #dfe1e6;
        opacity: 1;
      }
      &:hover {
        color: #172b4d;
        background-color: #ebecf0;
        opacity: 1;
      }
    }
  }

  .task-cover {
    height: rem(32px);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .task-preview {
    padding: 7px 8px 2px;
    p {
      margin: 0 0 4px;
      white-space: normal;
      word-wrap: break-word;
    }
  }
}

.task-labels {
  border-radius: 3px;
  cursor: pointer;
  gap: 2px;
  max-width: 300px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  li {
    float: left;
    font-size: 12px;
    font-weight: 700;
    height: 8px;
    line-height: 16px;
    // max-width: 40px;
    // min-width: 40px;
    padding: 0;
    text-shadow: none;
    width: auto;
    border-radius: 3px;
  }
  &.close {
    .label-bar {
        color: rgba(255, 255, 255, 0);
        min-width: 20px;
        width: 40px;
        transition: height .2s, min-width .2s linear .2s;
    }
}
&.open {
    .label-bar {
        color: white;
        height: 16px;
        min-width: 48px;
        padding: 0 8px;
        width: fit-content;
        transition: color .2s linear 0.4s, min-width .2s, height .2s linear .2s;
    }
}
}

//TASK FOOTER
.task-footer {
  padding: 0px 8px 2px 8px;
}

.duedate-preview {
  margin: 0 4px 4px 0;
  // width: min-content;
  padding: 3px 4px 3px;
  max-width: min-content;
  vertical-align: top;
  margin: 0 4px 4px 0;
  font-size: rem(14px);
  display: flex;
  align-items: center;

  .duedate-icon {
    display: flex;
    align-items: center;
  }
}
