* {
  box-sizing: border-box;
}

html {
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  color: #172b4d;
  margin: 0;
  font-size: 14px;
}

img {
  width: 100%;
  object-fit: cover;

}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

::selection {
      background-color: #0065ff87;
      color: $fnt3;
  }


p {
  margin: 0 auto;
  // max-width: 50ch;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    cursor: pointer;
}

input,
textarea {
    font-family: unset;
    font-size: 14px;
    color: unset;
}

a {
  text-decoration: none;
  color: inherit;
}
