// flex helpers

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
}

//  OLD

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}
.align-end {
  align-self: flex-end;
}
.align-start {
  align-self: flex-start;
}

.flex-grow1 {
  flex-grow: 1;
}

.warp {
  flex-wrap: wrap;
}

.muted {
  opacity: 0.5;
  font-weight: 400;
}



.clear-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.hidden {
  display: none;
}



.line-through {
  text-decoration: line-through;
  color:$silver-blue;
}

.clean-link {
  text-decoration: none;
  color: inherit;
}

.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.go-back-container {
  display: grid;
  place-content: center;
  position: fixed;
  /* display: flex; */
  // height: 100vh;
  // width: 100vw;
  background-color: rgba(0, 0, 0, 0.357);
  overflow-y: auto;
  cursor: pointer;
  inset: 0;
}

// .close-modal-screen{
//   position: absolute;
//   /* display: flex; */
//   height: 100vh;
//   width: 100vw;
//   background-color: rgba(0, 0, 0, 0.357);
//   top: 0;
//   left: 0;
//   z-index: 15;
// }

.icon-lg {
  font-size: 18px;
  width: 32px;
  color: $grey-blue;
}

.icon-sm {
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.ml-40 {
  margin-left: 40px;
}
.mt-8 {
  margin-top: 8px;
}


// MODAL HELPERS
.modal-content-title {
  color: $silver-blue;
  font-size: rem(12px);
  font-weight: 600;
  line-height: 16px;
  margin: 16px 0 8px;
}

//TASK DETAILS HELPERS
.details-section-header {
  margin: 0 0 4px 40px;
  padding: 8px 0;
  position: relative;
  align-items: center;
  display: flex;
  min-height: 32px;

  .header-icon {
    top: 8px;
    left: -40px;
    position: absolute;
    color: #42526e;
    display: inline-block;
    font-family: trellicons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
  }
  h3 {
    display: inline-block;
    margin: 0;
    min-height: 18px;
    min-width: 40px;
    width: auto;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }
}

.form-btns {
  padding-top: 4px;
  gap: 10px;

  .close-add {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: $light-blue;

    &:hover {
      color: $dark-blue;
    }
  }
}


.block{
  display: block;
}

.t-14{
  top:14px !important; 
}

.badge-preview {
  // width: min-content;
  padding: 3px 4px 3px;
  max-width: min-content;
  vertical-align: top;
  margin: 0 4px 4px 0;
  font-size: rem(12px);
  display: flex;
  align-items: center;
  gap: 5px;

  .badge-icon {
    width: auto;
    font-size: rem(13px);
    display: flex;
    align-items: center;
  }
}



.green {
  background-color: #61bd4f;
  border-radius: 3px;
  color: #fff;
}

.red {
  background-color: #eb5a46;
  border-radius: 3px;
  color: #fff;
}

.yellow {
  background-color: #f2d600;
  border-radius: 3px;
  color: #fff;
}


.btn-layover{
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  position: absolute;
  inset: 0;
  cursor: pointer;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
}

.confirm-delete-btn{
  cursor: pointer;
  display: inline-flex;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
  padding: 6px 12px;
  text-decoration: none;
  transition-duration: 85ms;
  transition-property: background-color,border-color,box-shadow;
  transition-timing-function: ease;
  white-space: normal;
  box-sizing: border-box;
  background-color: #b04632;
    border: none;
    box-shadow: none;
    color: #fff;
}