// flex helpers

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
}

//  OLD

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}
.align-end {
  align-self: flex-end;
}
.align-start {
  align-self: flex-start;
}

.flex-grow1 {
  flex-grow: 1;
}

.warp {
  flex-wrap: wrap;
}

.muted {
  opacity: 0.5;
  font-weight: 400;
}

.green {
  color: green;
}

.red {
  color: rgb(226, 49, 49);
}

.clear-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.hidden {
  display: none;
}

.clean-link {
  text-decoration: none;
  color: inherit;
}

.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}



.go-back-container {
  position: fixed;
  /* display: flex; */
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.357);
  top: 0;
  left: 0;
}