
@font-face {
    font-family: montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}


@font-face {
    font-family: poiretOne;
    src: url(../../fonts/Poiretone/PoiretOne-Regular.ttf);
}

