// Colors

$royal-blue: #0065ff; // btn color
$light-grey1: #ebecf0; // group bgc
$light-grey2: #f4f5f7; // card hover  & car details bgc

//Fonts
$dark-blue: #172b4d;
$grey-blue: #42526e;
$silver-blue: #5e6c84;
$light-blue: #6b778c;

// LAYOUT
$layoutPadding: 20px;

// Breakpoints
$break-narrow: 460px;
$break-normal: 720px;
$break-wide: 960px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
